.home-sec1{
    /* height: calc(100vh - var(--nav-height));
    overflow: auto; */
}

.home-sec1-c{
    display: grid;
    grid-template-columns: 175px 1fr 304px;
    grid-template-rows: 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 0px;
}

.left-panel{
    position: relative;
}
.left-panel > a{
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
    margin-bottom: 16px;
}
.left-panel > a:hover,
.left-panel > a.active{
    opacity: 1;
}
.left-panel > a > img{
    margin-right: 12px;
}
.left-panel > a.active > img{
    background-color: var(--blue-color);
    border-radius: 8px;
}
.left-panel > .float-create-btn{
    /* position: absolute;
    bottom: 60px; */
    left: 0;
    background-color: var(--blue-color);
    border-radius: 10px;
    opacity: 1;
    width: 100%;
    height: 48px;
    margin-top: 372px;
}





.right-panel > .inner-panel{
    background-color: var(--grey-color);
    border-radius: 20px;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
}
.right-panel > .inner-panel > .panel-title{
    margin-bottom: 22px;
}
.right-panel > .inner-panel > .panel-title > a{
    color: var(--blue-color);
}
.right-panel > .inner-panel > .panel-content{
    max-height: 252px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.right-panel > .inner-panel > .panel-content{
    padding-right: 15px;
}




.right-panel > .inner-panel > .panel-content > a{
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(31, 32, 40, 1);
}
.right-panel > .inner-panel > .panel-content > a > div{
    flex:1;
}
.right-panel > .inner-panel > .panel-content > a > div > .top{
    margin-bottom: 3px;
}
.right-panel > .inner-panel > .panel-content > a > img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    background-color: whitesmoke;
    margin-right: 15px;
}




.center-panel{
    /* height: calc(100vh - var(--nav-height));
    overflow: auto;
    margin-right: -20px;
    padding-right: 10px; */
}
.center-panel > div{
    margin-bottom: 30px;
}





.top-banner{
    background: url('../../assets/home-top-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    color:white;
    margin-bottom: 30px;
}
.top-banner > h2{
    margin: unset;
    margin-bottom: 20px;
    text-shadow: 0px 4px 11px #000000;
}
.top-banner-warp > a{
    padding: 15px 62px;
    border-radius: 10px;
}
.top-banner-warp > a:first-child{
    background-color: var(--blue-color);
    margin-right: 20px;
}
.top-banner-warp > a:last-child{
    border: 1px solid white;
}



.popular-panel{
    background-color: var(--grey-color);
    border-radius: 20px;
    padding: 21px 30px;
    max-width: 839px;
    width: 100%;
}
.popular-top{
    margin-bottom: 29px;
}
.popular-itm{
    padding: 15px;
    border-radius: 15px;
    background-color: var(--grey-color2);
    width: 100%;
    max-width: 247px;
    margin-right: 15px;
}
.popular-itm-top > img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    background-color: whitesmoke;
}
.popular-itm-top > span{
    color: rgba(255, 255, 255, 0.72);
}
.popular-itm-img > img{
    height: 217px;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    background-color: whitesmoke;
}
.popular-itm-img{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(44, 46, 57, 1);
}
.popular-itm-detail > div > span:last-child{
    opacity: 0.6;
    margin-top: 1px;
}
.popular-filter > fieldset{
    border: 1px solid rgba(42, 42, 50, 1);
    border-radius: 8px;
    color: white;
}
.popular-filter > fieldset > legend{
    text-align: left;
    color: rgba(202, 202, 202, 1);
    padding: 0 4px;
}
.popular-filter > fieldset > div > img{
    margin-right: 10px;
}
.popular-itm-img{
    position: relative;
}
.popular-itm-img > button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(26, 34, 39, 0.7);
    border-radius: 50%;
    padding: 5px;
}
.popular-itm-img > button > img:last-child{
    position: absolute;
    display: none;
}
.popular-itm-img > button.active > img:last-child{
    display: block;
}
.popular-itm-img > label{
    padding: 4px 6px;
    border-radius: 39px;
    background: rgba(18, 19, 24, 0.4);
    backdrop-filter: blur(26px);
    position: absolute;
    bottom: 29px;
    left: 10px;
    max-width: 170px;
}



.spotlight-panel{
    padding: 30px;
    padding-top: 40px;
    border-radius: 20px;
    background: url('../../assets/spotlight-banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.spotlight-content-name{
    text-shadow: 0px 4px 11px #000000;  
    margin-top: 7px;
    margin-bottom: 10px; 
}
.spotlight-content-follow > div{
    color: rgba(191, 191, 191, 1);
}
.spotlight-filter > fieldset{
    border: 1px solid rgba(42, 42, 50, 0.2);
    border-radius: 8px;
    color: white;
}
.spotlight-filter > fieldset > legend{
    text-align: left;
    color: rgba(202, 202, 202, 1);
    padding: 0 4px;
}
.spotlight-filter > fieldset > div > img{
    margin-right: 10px;
}
.spotlight-content-follow > div:first-child{
    margin-right: 25px;
}
.spotlight-content-follow > div > span{
    color: white;
}
.spotlight-content-slider{
    margin-top: 20px;
}
.spotlight-content-left{
    max-width: 500px;
    margin-right: 39px;
}
.spotlight-content-right{
    flex:1;
}
.spotlight-content-itm{
    width: 159px;
    height: 91px;
    border-radius: 12px;
    margin-right: 13px;
    overflow: hidden;
    position: relative;
}
.spotlight-content-itm > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.spotlight-content-itm > div{
    position: absolute;
    bottom: 8px;
    background: rgba(18, 19, 24, 0.4);
    backdrop-filter: blur(26px);
    border-radius: 39px;
    padding: 4px 6px;
}
.spotlight-content-itm > div > img{
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.spotlight-content-right > div{
    max-width: 238px;
    margin-top: 25px;
    position: relative;
}
.spotlight-content-right > div > .img-bg{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.spotlight-content-right > div > .love-ico{
    position: absolute;
    top:10px;
    right:10px;
    background: rgba(26, 34, 39, 0.7);
    backdrop-filter: blur(42.2917px);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.spotlight-content-right > div > .user-label{
    background-color: rgba(18, 19, 24, 0.4);
    backdrop-filter: blur(26px);
    border-radius: 39px;
    position: absolute;
    top:10px;
    left:10px;
    padding: 4px 6px;
    padding-right: 12px;
    max-width: 165px;
    height: 32px;
}
.spotlight-content-right > div > .user-label > img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    background-color: black;
    margin-right: 10px;
}
.spotlight-content-right > div > .user-label > span{
    max-width: 100px;
}
.spotlight-content-right > div > .title-label{
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 5%;
    padding: 10px;
    margin-right: 10px;
    background: rgba(18, 19, 24, 0.2);
    backdrop-filter: blur(9px);
    border-radius: 15px;
}
.spotlight-content-right > div > .title-label > button{
    padding: 8px 10px;
    border-radius: 39px;
    border: 1px solid white;
    color: white;
}
.spotlight-content-right > div > .title-label > div > div{
    
}
.spotlight-content-right > div > .title-label > div > div > img{
    margin-right: 5px;
}
