.nav{
    /* padding: 36px 0;
    padding-bottom: 40px; */
    height: var(--nav-height);
}
.nav-logo{
    width: 166px;
    object-fit: contain;
    margin-right: 44px;
}
.nav-search{
    background-color: var(--grey-color);
    padding: 12px 10px 12px 14px;
    border-radius: 10px;
    width: 100%;
    max-width: 403px;
}
.nav-search > input{
    color : white;
    flex:1;
    margin-left: 5px;
}
.nav-menu{
    flex:1;
    color: white;
}
.nav-menu > a{
    margin-left: 35px;
}
.nav-menu > a > .with-title{
    margin-right: 9.2px;
}