
:root{
  --blue-color : rgba(39, 70, 236, 1);
  --grey-color : rgba(26, 27, 35, 1);
  --grey-color2 : rgba(30, 31, 39, 1);

  --nav-height: 124px;
}

*{
  box-sizing: border-box;
  font-style: normal;
}
body{
  max-width:100vw;
  overflow-x: hidden;
  overflow-y: auto;
  margin: unset;
  background-color: rgba(18, 19, 24, 1);
  color: white;
}
#root{
  overflow-x: hidden;
  overflow-y: auto;
}
a{
  text-decoration: none;
  color: unset;
}
button,
input,
select,
textarea{
  appearance: none;
  -webkit-appearance: none;
  border:unset;
  background-color: transparent;
  margin: unset;
  padding: unset;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.section{
  width:100%;
  position:relative;
}
.container{
  max-width:1440px;
  position:relative;
  width: 100%;
  margin: auto;
  padding: 0 35px;
}
.cursor{
  cursor: pointer;
}
.no-margin{
  margin: unset;
}


/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(18, 19, 24, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(45, 47, 61, 1);
  border-radius: 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(45, 47, 61, 1);
}



.flex-r{
  display: flex;
  flex-direction: row;
}
.flex-r.v-center{
  align-items: center;
}
.flex-r.v-top{
  align-items: flex-start;
}
.flex-r.v-btm{
  align-items: flex-end;
}
.flex-r.h-center{
  justify-content: center;
}
.flex-r.h-left{
  justify-content: start;
}
.flex-r.h-right{
  justify-content: end;
}
.flex-r.just-space{
  justify-content: space-between;
}
.flex-c{
  display: flex;
  flex-direction: column;
}
.flex-c.h-center{
  align-items: center;
}
.flex-c.h-left{
  align-items: flex-start;
}
.flex-c.h-right{
  align-items: flex-end;
}
.flex-c.v-center{
  justify-content: center;
}
.flex-c.v-top{
  justify-content: start;
}
.flex-c.v-btm{
  justify-content: end;
}




.t-200{
  font-weight: 300;
  font-family: "exo-xlight";
}
.t-300{
  font-weight: 300;
  font-family: "exo-light";
}
.t-400{
  font-weight: 400;
  font-family: "exo-regular";
}
.t-500{
  font-weight: 500;
  font-family: "exo-medium";
}
.t-600{
  font-weight: 600;
}
.t-700{
  font-weight: 700;
  font-family: "exo-bold";
}
.t-800{
  font-weight: 800;
  font-family: "exo-xbold";
}



.t-10{
  font-size: 10px;
}
.t-12{
  font-size: 12px;
}
.t-13{
  font-size: 13px;
}
.t-14{
  font-size: 14px;
}
.t-16{
  font-size: 16px;
}
.t-17{
  font-size: 17px;
}
.t-18{
  font-size: 18px;
}
.t-20{
  font-size: 20px;
}
.t-22{
  font-size: 22px;
}
.t-28{
  font-size: 28px;
}
.t-32{
  font-size: 32px;
}



.t-upper{
  text-transform: uppercase;
}


.t-center{
  text-align: center;
}
.t-right{
  text-align: right;
}
.t-left{
  text-align: left;
}


.line-clamp{
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.line-clamp.clamp-1{
  -webkit-line-clamp: 1;
}
.line-clamp.clamp-2{
  -webkit-line-clamp: 2;
}
.line-clamp.clamp-3{
  -webkit-line-clamp: 3;
}
.line-clamp.clamp-4{
  -webkit-line-clamp: 4;
}















@media all and (min-width: 1280px){
  
}
@media all and (min-width: 1440px){
  
}




@media all and (max-width: 1140px){
}
@media all and (max-width: 1080px){
}
@media all and (max-width: 994px){
  
}
@media all and (max-width: 972px){

}
@media all and (max-width: 768px),
all and (orientation: landscape) and (max-width: 768px){
  .container{
    padding: 0 20px;
  }
}
@media all and (max-width: 568px){
    
}

@media all and (max-width: 430px){
  
}
@media all and (max-width: 320px){
  
}