@font-face {
  font-family: "exo-bold";
  src: url("./assets/font/EudoxusSans-Bold.ttf");
}
@font-face {
  font-family: "exo-xbold";
  src: url("./assets/font/EudoxusSans-ExtraBold.ttf");
}
@font-face {
  font-family: "exo-xlight";
  src: url("./assets/font/EudoxusSans-ExtraLight.ttf");
}
@font-face {
  font-family: "exo-light";
  src: url("./assets/font/EudoxusSans-Light.ttf");
}
@font-face {
  font-family: "exo-medium";
  src: url("./assets/font/EudoxusSans-Medium.ttf");
}
@font-face {
  font-family: "exo-regular";
  src: url("./assets/font/EudoxusSans-Regular.ttf");
}


body {
  margin: 0;
  font-family: "exo-regular";
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
